*.log
*.mo
.DS_Store
.env
.php*.cache
composer.lock
node_modules
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/build
/coverage
/data/
/gui/.svelte-kit
/gui/build/
/gui/dist/
/gui/package
/gui/src/locale/
/vendor/
