{
    "plugins": ["prettier-plugin-svelte"],
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "singleQuote": true,
    "svelteSortOrder": "options-scripts-markup-styles",
    "trailingComma": "all"
}
