{
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"pluginSearchDirs": ["."],
	"plugins": ["prettier-plugin-svelte"],
	"printWidth": 100,
    "arrowParens": "avoid",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "semi": true,
    "singleQuote": true,
    "svelteSortOrder": "options-scripts-styles-markup",
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false
}
