:root {
    --white: #fff;
    --gray-50: #fbfaf9;
    --gray-100: #f6f5f4;
    --gray-200: #e8e5e4;
    --gray-300: #d7d3d1;
    --gray-400: #a9a29e;
    --gray-500: #79716c;
    --gray-600: #58534e;
    --gray-700: #45403c;
    --gray-800: #2a2524;
    --gray-900: #1b1917;

    --red: #DC2626;

    --high-light: var(--theme-high-light, var(--gray-100));
    --high-dull: var(--theme-high-dull, var(--gray-300));
    --high: var(--theme-high, var(--gray-900));
    --high-dark: var(--theme-high-dark, #000);
}
