label {
    display: block;
    color: var(--gray-700);
    font-size: var(--text-sm);
    font-weight: 600;
}

input {
    appearance: none;
    display: block;
    padding: var(--s-2) var(--s-3);
    border: 1px solid var(--gray-300);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-sm);
    font-size: var(--text-sm);
    outline-offset: 2px;
    outline: 2px solid transparent;
	box-sizing: border-box;

    &:focus {
        outline-color: var(--high);
        box-shadow: 0 0 0 2px var(--high-dull);
    }
}

input[type="checkbox"], input[type="radio"] {
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: #2563eb;
    background-color: #fff;
    border-width: 1px;

	&:checked {
		background-color: var(--high);
		border-color: var(--high);
	}
}

input[type="checkbox"] {
    border-radius: var(--radius);

	&:checked {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='white' stroke-width='2'%3e%3cpath stroke-linecap='round' stroke-linejoin='round' d='M5 13l4 4L19 7' /%3e%3c/svg%3e");
	}
}

input[type="radio"] {
    border-radius: var(--radius-full);

	&:checked {
		background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
	}
}

::placeholder {
    color: var(--gray-400);
}

.checkbox, .radio {
    display: flex;
    align-items: center;

    label {
        margin-left: var(--sz-2);
    }
}

.radio + .radio,
.checkbox + .checkbox {
    margin-top: var(--s-2);
}

.control {
    textarea, [type="text"], [type="password"], [type="number"], [type="email"] {
        width: 100%;
        margin-top: var(--s-1);
    }
}

.control + .control {
    margin-top: var(--s-4);
}
