.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}
.grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
}
.grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
}
.grid-cols-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
}
.grid-cols-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
}
.grid-cols-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
}
.grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
}
.grid-cols-13 {
    grid-template-columns: repeat(13, minmax(0, 1fr));
}
.grid-cols-14 {
    grid-template-columns: repeat(14, minmax(0, 1fr));
}
.grid-cols-15 {
    grid-template-columns: repeat(15, minmax(0, 1fr));
}
.grid-cols-16 {
    grid-template-columns: repeat(16, minmax(0, 1fr));
}
.grid-cols-17 {
    grid-template-columns: repeat(17, minmax(0, 1fr));
}
.grid-cols-18 {
    grid-template-columns: repeat(18, minmax(0, 1fr));
}
.grid-cols-19 {
    grid-template-columns: repeat(19 minmax(0, 1fr));
}
.grid-cols-20 {
    grid-template-columns: repeat(20, minmax(0, 1fr));
}
.grid-cols-21 {
    grid-template-columns: repeat(21, minmax(0, 1fr));
}
.grid-cols-22 {
    grid-template-columns: repeat(22, minmax(0, 1fr));
}
.grid-cols-23 {
    grid-template-columns: repeat(23, minmax(0, 1fr));
}
.grid-cols-24 {
    grid-template-columns: repeat(24, minmax(0, 1fr));
}
.grid-cols-25 {
    grid-template-columns: repeat(25, minmax(0, 1fr));
}

.col-span-1 {
    grid-column: span 1 / span 1;
}
.col-span-2 {
    grid-column: span 2 / span 2;
}
.col-span-3 {
    grid-column: span 3 / span 3;
}
.col-span-4 {
    grid-column: span 4 / span 4;
}
.col-span-5 {
    grid-column: span 5 / span 5;
}
.col-span-6 {
    grid-column: span 6 / span 6;
}
.col-span-7 {
    grid-column: span 7 / span 7;
}
.col-span-8 {
    grid-column: span 8 / span 8;
}
.col-span-9 {
    grid-column: span 9 / span 9;
}
.col-span-10 {
    grid-column: span 10 / span 10;
}
.col-span-11 {
    grid-column: span 11 / span 11;
}
.col-span-12 {
    grid-column: span 12 / span 12;
}
.col-span-13 {
    grid-column: span 13 / span 13;
}
.col-span-14 {
    grid-column: span 14 / span 14;
}
.col-span-15 {
    grid-column: span 15 / span 15;
}
.col-span-16 {
    grid-column: span 16 / span 16;
}
.col-span-17 {
    grid-column: span 17 / span 17;
}
.col-span-18 {
    grid-column: span 18 / span 18;
}
.col-span-19 {
    grid-column: span 19 / span 19;
}
.col-span-20 {
    grid-column: span 20 / span 20;
}
.col-span-21 {
    grid-column: span 21 / span 21;
}
.col-span-22 {
    grid-column: span 22 / span 22;
}
.col-span-23 {
    grid-column: span 23 / span 23;
}
.col-span-24 {
    grid-column: span 24 / span 24;
}
.col-span-25 {
    grid-column: span 25 / span 25;
}
.col-span-full {
    grid-column: 1 / -1;
}

.col-start-1 {
    grid-column-start: 1;
}
.col-start-2 {
    grid-column-start: 2;
}
.col-start-3 {
    grid-column-start: 3;
}
.col-start-4 {
    grid-column-start: 4;
}
.col-start-5 {
    grid-column-start: 5;
}
.col-start-6 {
    grid-column-start: 6;
}
.col-start-7 {
    grid-column-start: 7;
}
.col-start-8 {
    grid-column-start: 8;
}
.col-start-9 {
    grid-column-start: 9;
}
.col-start-10 {
    grid-column-start: 10;
}
.col-start-11 {
    grid-column-start: 11;
}
.col-start-12 {
    grid-column-start: 12;
}
.col-start-13 {
    grid-column-start: 13;
}
.col-start-14 {
    grid-column-start: 14;
}
.col-start-15 {
    grid-column-start: 15;
}
.col-start-16 {
    grid-column-start: 16;
}
.col-start-17 {
    grid-column-start: 17;
}
.col-start-18 {
    grid-column-start: 18;
}
.col-start-19 {
    grid-column-start: 19;
}
.col-start-20 {
    grid-column-start: 20;
}
.col-start-21 {
    grid-column-start: 21;
}
.col-start-22 {
    grid-column-start: 22;
}
.col-start-23 {
    grid-column-start: 23;
}
.col-start-24 {
    grid-column-start: 24;
}
.col-start-25 {
    grid-column-start: 25;
}

.row-span-1 {
    grid-row: span 1 / span 1;
}
.row-span-2 {
    grid-row: span 2 / span 2;
}
.row-span-3 {
    grid-row: span 3 / span 3;
}
.row-span-4 {
    grid-row: span 4 / span 4;
}
.row-span-5 {
    grid-row: span 5 / span 5;
}
.row-span-6 {
    grid-row: span 6 / span 6;
}
.row-span-7 {
    grid-row: span 7 / span 7;
}
.row-span-8 {
    grid-row: span 8 / span 8;
}
.row-span-9 {
    grid-row: span 9 / span 9;
}
.row-span-10 {
    grid-row: span 10 / span 10;
}
.row-span-11 {
    grid-row: span 12 / span 12;
}
.row-span-12 {
    grid-row: span 12 / span 12;
}
