@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './color.css';
@import './vars.css';
@import './util.css';
@import './button.css';

html {
    @apply bg-gray-50;

    height: 100%;
}

body {
    height: 100%;
    font-family: var(--font);
    overflow: hidden;
}

#panel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    #nav {
        z-index: 3;
    }

    #backdrop {
        z-index: 2;
    }

    main {
        z-index: 1;
        flex-grow: 1;
    }
}

.headerbar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--s-16);

    background-color: var(--white);
    border-bottom: var(--border);
}

a, a:visited, a:focus {
    text-decoration: underline;
    color: var(--high);
}

a:visited {
    text-decoration: underline;
    color: var(--high-dark);
}
