@import 'normalize.css';
@import './color.css';
@import './vars.css';
@import './util.css';
@import './form.css';
@import './button.css';

body {
    background-color: var(--gray-100);
    font-family: var(--font);
}

a, a:visited, a:focus {
    text-decoration: underline;
    color: var(--high);
}

a:visited {
    text-decoration: underline;
    color: var(--high-dark);
}
