.modal {
	width: 100%;

	h2 {
		@apply -mx-4 -mt-4 mb-0 px-6 py-4 text-lg;
		@apply border-b border-gray-300;
	}

	p {
		@apply mb-6;

		&:last-child {
			@apply mb-0;
		}
	}

	.highlight {
		@apply text-blue-600;
	}

	.body {
		@apply -mx-4 p-6;
		@apply border-b border-gray-300;
	}

	.controls {
		@apply -mx-4 flex flex-row justify-end gap-2 px-6 pt-6;
	}

	.modal-close.close {
		@apply border-rose-600 bg-rose-600 text-white;
		box-shadow: none;
		top: -0.6rem;
		right: -0.6rem;

		&:hover {
			@apply border-rose-500 bg-rose-500;
		}

		&::before,
		&::after {
			@apply bg-white;
		}
	}
}
