label,
.label {
	@apply block leading-6 font-semibold text-gray-900;
	@apply flex flex-row items-center;

	div {
		@apply flex-1 flex-grow;
	}
}

input[type='text'],
input[type='number'],
input[type='date'],
input[type='time'],
input[type='password'],
textarea,
select {
	@apply block w-full rounded-md border py-1.5 text-gray-900 shadow-xs;
	@apply border-gray-300 placeholder:text-gray-300;
	@apply focus:ring-2 focus:ring-sky-600 focus:ring-inset sm:text-sm sm:leading-6;

	&[disabled] {
		@apply bg-gray-100 text-gray-600;

		border-style: dashed;

		&[required] {
			border-left-style: solid;
		}
	}
}

input::placeholder {
	color: red;
}

input[type='number'],
input[type='date'],
input[type='time'] {
	max-width: 10rem;
}

&.required label.dragdrop,
input[required],
select[required],
textarea[required] {
	@apply border-l-4 border-l-rose-700;
	border-left-style: solid;
}

.field {
	@apply px-4 py-2 sm:px-6 sm:py-3 md:p-8 md:py-4;
}

.field-description {
	@apply pt-1 pl-px text-sm text-gray-400;
}

.setting {
	@apply py-2 text-sm;
}

textarea.iframe {
	font-family:
		'JetBrains Mono', 'Menlo', 'DejaVu Sans Mono', 'Liberation Mono', 'Consolas', 'Ubuntu Mono',
		'Courier New', 'andale mono', 'lucida console', monospace;
	@apply bg-gray-700 text-gray-100;
}
